/arkas
/arkas.exe
/bin
/screenshots
/maps
/assets
/game
/*.cmd
/libArkasEngine.a
/oldmaps
/log.txt

/deploy/psvita/CMakeCache.txt
/deploy/psvita/CMakeFiles
/deploy/psvita/cmake_install.cmake
/deploy/psvita/Makefile
/deploy/psvita/arkas_engine*

/deploy/3ds/build
/deploy/3ds/ArkasEngine*
